@import "tailwindcss";

@font-face {
    font-family: "Vazir";
    src: url("./assets/fonts/vazir-thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vazir";
    src: url("./assets/fonts/vazir-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vazir";
    src: url("./assets/fonts/Vazir.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vazir";
    src: url("./assets/fonts/Vazir-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vazir";
    src: url("./assets/fonts/Vazir-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
    


:root {
  --Primary: #5E7C5A;
  --color-primary-light: #C9D8B6;
  --PrimaryGlass: rgba(94, 124, 90, 0.25);
--Header-Glass: rgba(94, 124, 90, 0.15);
  --Glass-Border: rgba(94, 124, 90, 0.25);

  --color-background: #FAF9F6;
  --color-surface: #FFFFFF;

  --color-text: #1E1E1E;
  --color-subtitle: #6B7280;
  --color-border: #ECEAE5;

  --color-success: #4F9D69;
  --color-warning: #D89B3D;
  --color-error: #D65A5A;
  font-family: "Vazir", sans-serif;
}

body{
    background-color: #F8F7F4;
}